@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.resume-page {
  justify-items: center;
}

.logoDiv {
  color: white;
  font-size: 2vw;
  position: absolute;
  margin-left: 2vw;
  margin-top: 0.5vw;
}

.blueHeader {
  position: relative;
  background-color: rgb(0, 58, 155);
  height: 4vw;
}

.radio-container {
  border-width: 2px;
  width: 13vw;
  margin-left: 1vw;
  margin-top: 0.7vw;
  display: grid;
  border-radius: 0.5vw;
}

.large-textbox {
  height: 50vh;
  width: 55vw;
  border-width: 2px;
  border-color: black;
  border-radius: 1vw;
  padding-top: 0.5vw;
  padding-left: 1vw;
  font-size: 1.2vw;
}

.description-div {
  font-family: "Noto Sans", serif;
  color: rgb(0, 58, 155);
  font-size: 3vw;
  font-weight: 350;
}

.job-description-div {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the left */
  width: 55vw;
  margin: 0 auto; /* Center the div horizontally */
}

.resume-upload {
  border-width: 2px;
  border-color: black;
}

.submit-button {
  background-color: rgb(0, 58, 155);
  color: white;
  font-size: 1.4vw;
  height: 4vw;
  width: 10vw;
  border-radius: 1vw;
  margin-right: 0.5vw;
  margin-top: 1vw;
  cursor: pointer;
  justify-content: flex-end;
  right: 0;
  margin-right: 3vw;
}

.submit-button:hover {
  background-color: white; /* Change background to white on hover */
  color: rgb(0, 58, 155); /* Optionally change text color to match background */
  border-width: 0.2vw;
  border-color: rgb(0, 58, 155);
}

.finalDiv {
  margin-top: 3vw;
  margin-right: 20vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.large-textbox:disabled {
  background-color: #e0e0e0; /* Light grey background */
  color: #ececec; /* Light grey text */
  border: 3px solid #b13131; /* Grey border to show it's still a textarea */
  cursor: not-allowed; /* Change the cursor to indicate it's not interactive */
}
